/* CODE START */

/* VARIABLES */
:root {
  --pagebox_green: #d1e3d5;
  --light_felt_green: #436767;
  --felt_green: #325656;
  --dark_felt_green: #2b4242;
  --youtube_red: #ff0000;
  --topbar_light_blue: rgb(76, 173, 205);
  --button_dark_teal: rgb(23, 132, 168);
  --active_button_gold: rgb(255, 191, 0);
}

/* UNIVERSAL RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: baseline;
  background: transparent;
  color: white;
}

/* HTML */
html {
  overflow: hidden;
}

/* X BUTTON ELEMENTS */
.x_button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 28px;
  width: 28px;
  padding-bottom: 2px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.x_button:hover {
  box-shadow: 0px 0px 20px white;
}

.x_button:active {
  background-color: var(--active_button_gold);
}

/* DEBUG BUTTON ELEMENTS */
.test_button1,
.test_button2 {
  position: absolute;
  top: 10px;
  height: 40px;
  width: 100px;
  padding-top: 2px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: purple;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.test_button1 {
  left: 10px;
}

.test_button2 {
  left: 120px;
}

.test_button1:hover,
.test_button2:hover {
  box-shadow: 0px 0px 20px white;
}

.test_button1:active,
.test_button2:active {
  background-color: var(--active_button_gold);
}

/* MAIN PAGE CONTAINER */
.pagebox {
  position: relative;
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-size: cover;
  background-blend-mode: multiply;
  transform: translateZ(0);
  background-image: url(../images/background_triangles.png);
  background-color: rgba(0, 0, 0, 0.5);
}

.main_display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 20px));
  height: 504px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 250px 650px 250px;
  column-gap: 25px;
  z-index: 6;
}

.main_display_left,
.main_display_middle,
.main_display_left {
  position: relative;
}

#content_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

/* GAME BOARD ELEMENTS */
.game_board_div {
  display: grid;
  grid-template-columns: 110px auto 110px;
  position: absolute;
  top: 0;
  left: 0;
}

.game_board {
  position: absolute;
  top: 0;
  left: 0;
  height: 630px;
  width: 960px;
  border: solid 2px white;
  border-radius: 25px;
  opacity: 0;
  z-index: 0;
  filter: brightness(0.5);
  transition: opacity 2s ease-in-out;
}

/* BOARD ANNOTATIONS SECTION */
.board_annotations_section {
  position: absolute;
  top: 234px;
  left: 146px;
  display: block;
  height: 40px;
  width: 400px;
  background-color: var(--active_button_gold);
  z-index: 9999;
  border: solid 2px grey;
  border-radius: 9999px;
  opacity: 0.5;
}

.board_message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 4px;
}

/* WELCOME SECTION */
.welcome_section {
  height: 504px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: green;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
}

.welcome_title {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: default;
}

.welcome_text {
  width: 240px;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 10px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: default;
}

.welcome_continue_button,
.return_continue_button,
.welcome_name_form,
.challenge_button {
  height: 40px;
  width: 220px;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-left: 11px;
  border-radius: 9999px;
  box-shadow: 0px 0px 4px var(--felt_green);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.challenge_button {
  margin-top: 18px;
  font-size: 18px;
}

.challenge_button p {
  padding-bottom: 20px;
  text-align: center;
  text-justify: center;
  transform: translateY(-6px);
}

.challenge_button:hover {
  box-shadow: 0px 0px 20px white;
}

.challenge_button:active {
  background-color: var(--active_button_gold);
}

.welcome_name_form {
  margin-top: 4px;
  outline: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 2px;
  width: 190px;
  margin-left: 25px;
}

#welcome_name_input {
  color: black;
  text-align: center;
  font-size: 18px;
  padding-top: 4px;
  transform: translateY(-6px);
  cursor: text;
  width: 190px;
}

#you_info,
#you_info_return,
#you_info_next {
  border: 1px solid white;
  width: 230px;
  margin-left: 6px;
  margin-bottom: 8px;
  background: var(--button_dark_teal);
}

#you_info_return {
  margin-bottom: 48px;
}

#you_info_next {
  margin-top: 4px;
  margin-left: 3px;
}

.you_info_text,
.you_info_text_return,
.you_info_text_next {
  padding-bottom: 0;
  text-align: left;
  margin-left: 12px;
}

.you_info_text_return {
  margin-top: 48px;
}

.welcome_continue_button,
.return_continue_button,
.challenge_button {
  display: grid;
  grid-template-columns: 150px 50px;
  height: 60px;
  border: 2px solid white;
  background-color: var(--youtube_red);
  color: white;
  padding-top: 10px;
}

.continue_svg,
.return_continue_svg {
  transform: translateX(0px) translateY(-6px);
}

.welcome_continue_button:hover,
.return_continue_button:hover {
  box-shadow: 0px 0px 20px white;
}

.welcome_continue_button:active,
.return_continue_button:active {
  background-color: var(--active_button_gold);
}

#player_info,
#player_info_next {
  display: grid;
  grid-template-columns: 110px 110px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 14px;
}

#player_info_flags,
#player_info_flags_return,
#player_info_flags_next {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  width: 150px;
  margin-left: 45px;
  margin-bottom: 4px;
}

.player_flag_img {
  margin-left: 9px;
}

.step2,
.step3,
.step4 {
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out 1s;
}

/* WELCOME RETURN SECTION ELEMENTS */
.return_section {
  position: absolute;
  top: 0px;
  height: 504px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: darkcyan;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.not_you_button {
  height: 60px;
  width: 220px;
  margin-left: 11px;
  margin-bottom: 48px;
  padding-top: 2px;
  border: 2px solid white;
  border-radius: 9999px;
  background-color: purple;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.not_you_button:hover {
  box-shadow: 0px 0px 20px white;
}

.not_you_button:active {
  background-color: var(--active_button_gold);
}

/* ACCORDION ELEMENTS */
#skill_level_accordion,
#language_accordion,
#players_language_accordion {
  display: grid;
  grid-template-columns: 150px 40px;
  height: 40px;
  width: 190px;
  margin-left: 25px;
  margin-bottom: 24px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}

#skill_level_accordion:hover,
#language_accordion:hover,
#players_language_accordion:hover {
  background-color: #ccc;
}

#skill_level_svg,
#language_svg {
  margin-top: 3px;
}

#players_language_accordion {
  grid-template-columns: 65px 20px;
  width: 95px;
  height: 20px;
  font-size: 8px;
  margin: 0;
  margin-top: 4px;
}

#players_language_accordion p {
  transform: translateY(-8px);
}

#players_language_svg {
  transform: translateY(-1px);
}

.skill_level_panel,
.language_panel,
.players_language_panel {
  margin-top: -24px;
  display: none;
  width: 190px;
  margin-left: 30px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 0 0 2px 2px;
  border-top: none;
  background-color: white;
  color: black;
  text-align: left;
  overflow: hidden;
}

.players_language_panel {
  position: fixed;
  z-index: 9;
  margin-left: 0;
  width: 95px;
  margin-top: 0px;
}

.skill_level_panel p,
.language_panel p,
.players_language_panel p,
#skill_level_text,
#language_text,
#players_language_text {
  margin: 5px 0;
  color: black;
  text-align: left;
}

#language_text img {
  transform: translateY(-6px);
}

.accordion_selected {
  background-color: lightblue;
}

.skill_choice,
.language_choice,
.players_langauge_choice {
  cursor: pointer;
}

/* PLAYERS SECTION */
.players_section {
  display: grid;
  grid-template-rows: 20px 20px 70px 60px 240px 60px;
  position: absolute;
  top: 0;
  left: 0;
  height: 504px;
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border: solid 2px white;
  border-radius: 25px;
  background-color: var(--light_felt_green);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.players_display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 24px;
  width: 235px;
  height: 240px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  overflow-y: scroll;
}

.filter_div {
  display: grid;
  grid-template-columns: 65px 75px 100px;
}

.toggle_available p,
.toggle_skill p,
.toggle_language p {
  margin-top: 2px;
  font-size: 12px;
}

.toggle_available_graphic,
.toggle_skill_graphic,
.toggle_language_graphic {
  position: relative;
  height: 20px;
  width: 36px;
  margin-top: 4px;
  border: solid 1px white;
  border-radius: 9999px;
  background-color: var(--youtube_red);
  margin-left: 12px;
}

.slider_button {
  position: absolute;
  top: -3px;
  height: 20px;
  width: 20px;
  border: solid 1px silver;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.toggled_right {
  background-color: rgb(91, 218, 91);
}

.toggled_right_button {
  right: 0px;
}

.toggle_skill_level_div {
  display: grid;
  grid-template-columns: 150px 40px;
}

.toggle_skill_level_accordion {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  height: 60px;
  width: 190px;
  margin-top: 4px;
  border: 1px solid black;
  color: black;
  border-radius: 2px;
  background-color: aliceblue;
}

.toggle_skill_level_accordion p {
  margin-left: 4px;
  color: black;
  text-align: center;
}

.toggle_language_box {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 20px 20px 20px;
  height: 20px;
  width: 95px;
  margin-top: 4px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: aliceblue;
}

.toggle_language_box p {
  margin-left: 4px;
  color: black;
}

.language_selector_button {
  cursor: pointer;
}

.players_friends {
  height: 100%;
}

.player_online_display {
  display: grid;
  grid-template-columns: 24px auto;
  height: 20px;
  margin-bottom: 4px;
  font-weight: 450;
}

.is_player_active {
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgb(91, 218, 91);
}

.player_online_display.no_pointer_events {
  font-weight: lighter;
}

.player_ingame {
  background-color: orange;
}

.player_offline {
  background-color: var(--youtube_red);
}

.player_text {
  color: black;
  cursor: pointer;
}

/* CHALLENGE SECTION */
.challenge_section {
  position: absolute;
  top: 127px;
  left: 70px;
  height: 250px;
  width: 540px;
  z-index: 9;
  padding-top: 16px;
  border: solid 2px white;
  border-radius: 25px;
  background-color: var(--youtube_red);
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  cursor: default;
}

.challenge_block {
  display: grid;
  grid-template-rows: 50px 40px 40px 60px;
  row-gap: 10px;
}

.challenge_text {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.challenge_text_names {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.challenge_text_big {
  font-size: 24px;
  font-weight: bold;
}

.challenge_text_small {
  font-size: 16px;
}

.challenge_button_cancel {
  height: 60px;
  width: 140px;
  margin-left: 50%;
  padding-top: 12px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: var(--youtube_red);
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.challenge_button_cancel:hover {
  box-shadow: 0px 0px 20px white;
}

.challenge_button_cancel:active {
  background-color: var(--active_button_gold);
}

/* CHALLENGE RECEIVED SECTION */
.challenge_received_section {
  position: absolute;
  top: 127px;
  left: 70px;
  height: 250px;
  width: 540px;
  z-index: 9;
  padding-top: 24px;
  border: solid 2px white;
  border-radius: 25px;
  background-color: purple;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  cursor: default;
}

.challenge_received_block {
  display: grid;
  grid-template-rows: 50px 40px auto;
  row-gap: 16px;
}

.challenge_received_text {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.challenge_received_text_big {
  font-size: 24px;
  font-weight: bold;
}

.challenge_received_text_small {
  font-size: 16px;
}

.challenge_received_button_div {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 18px;
  width: 60%;
  margin-left: 35%;
}

.challenge_received_button_accept,
.challenge_received_button_decline {
  height: 60px;
  width: 140px;
  padding-top: 12px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: lightgreen;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.challenge_received_button_decline {
  background-color: var(--youtube_red);
}

.challenge_received_button_accept:hover,
.challenge_received_button_decline:hover {
  box-shadow: 0px 0px 20px white;
}

.challenge_recieved_button_accept:active,
.challenge_received_button_decline:active {
  background-color: var(--active_button_gold);
}

/* CHAT SECTION ELEMENTS */
.chat_section {
  display: grid;
  grid-template-rows: 90% 10%;
  position: absolute;
  height: 504px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: var(--active_button_gold);
  opacity: 0;
  transform: translateX(-800px);
  transition: opacity 1s ease-in-out, transform 2s ease-in-out;
  overflow: hidden;
}

.chat_display {
  height: 95%;
  width: 95%;
  margin-top: 3%;
  margin-left: 2.5%;
  background-color: aliceblue;
  border: solid 1px black;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat_entry_a,
.chat_entry_b,
.chat_entry_c,
.chat_entry_d,
.chat_entry_e,
.chat_entry_f {
  padding: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
  color: black;
  white-space: wrap;
  word-wrap: break-word;
  font-size: 14px;
  cursor: default;
}

.chat_entry_a {
  background-color: rgb(234, 245, 255);
}

.chat_entry_b {
  background-color: rgb(165, 216, 247);
}

.chat_entry_c {
  background-color: rgb(230, 181, 148);
}

.chat_entry_d {
  background-color: rgb(230, 207, 191);
}

.chat_entry_e {
  background-color: rgb(242, 235, 236);
}

.chat_entry_f {
  background-color: rgb(251, 192, 201);
}

#chat_input {
  width: 96%;
  height: 70%;
  margin-left: 2%;
  padding-left: 2%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
}

.chat_display strong {
  color: black;
}

/* SETTINGS SECTION */
.settings_section {
  row-gap: 48px;
  position: absolute;
  top: 20px;
  height: 504px;
  width: 300px;
  background-color: brown;
  border: 2px solid white;
  border-radius: 25px;
  opacity: 0;
  z-index: 2;
  transition: opacity 1s ease-in-out;
}

.settings_title {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* RULES SECTION */
.rules_section {
  display: grid;
  grid-template-rows: 90% 10%;
  position: absolute;
  top: 20px;
  height: 504px;
  width: 300px;
  border: solid 2px white;
  border-radius: 25px;
  background-color: var(--youtube_red);
  opacity: 0;
  z-index: 4;
  transition: opacity 1s ease-in-out;
}

.rules_info {
  height: 480px;
  margin-top: 12px;
  margin-right: 12px;
  padding: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}

.rules_info p {
  margin-bottom: 10px;
}

.rules_info li {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 10px;
}

.rules_image_box {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  background-color: white;
}

.rules_image_box img {
  width: 100%;
}

/* OTHER GAMES SECTION */
.other_games_section {
  display: grid;
  grid-template-rows: 10% 90%;
  position: absolute;
  top: 40px;
  height: 504px;
  width: 300px;
  background-color: var(--topbar_light_blue);
  border: solid 2px white;
  border-radius: 25px;
  opacity: 0;
  z-index: 5;
  transition: opacity 1s ease-in-out;
}

.other_games_section p {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.game_button_backgammon,
.game_button_murder_mansion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 285px;
  margin-top: 10px;
  margin-left: 5px;
  outline: solid 2px white;
  border-radius: 5px;
  background-color: var(--topbar_light_blue);
  cursor: pointer;
}

.game_button_backgammon:hover,
.game_button_murder_mansion:hover {
  box-shadow: 0px 0px 20px white;
}

.game_button_backgammon:active,
.game_button_murder_mansion:active {
  background-color: var(--active_button_gold);
}

.game_button_backgammon img,
.game_button_murder_mansion img {
  height: 100px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid white;
}

.game_button_backgammon p,
.game_button_murder_mansion p {
  margin: 0;
  padding-top: 32px;
  padding-left: 5px;
  font-size: 22px;
  font-weight: bold;
}

.game_button_current {
  background-color: var(--active_button_gold);
  pointer-events: none;
}

/* FORFEIT SECTION */
.forfeit_section {
  position: absolute;
  top: 127px;
  left: 70px;
  height: 250px;
  width: 540px;
  padding-top: 24px;
  z-index: 9;
  text-align: center;
  background-color: green;
  border: solid 2px white;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  cursor: default;
}

.forfeit_block {
  display: grid;
  grid-template-rows: 50px 40px auto;
}

.forfeit_text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.forfeit_text_big {
  font-size: 30px;
  font-weight: bold;
}

.forfeit_text_small {
  font-size: 16px;
}

.forfeit_button_div {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 18px;
  width: 60%;
  margin-left: 20%;
  padding-top: 16px;
}

.forfeit_button_yes,
.forfeit_button_no {
  height: 60px;
  width: 140px;
  margin-left: 50%;
  padding-top: 10px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: var(--youtube_red);
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.forfeit_button_no {
  background-color: var(--button_dark_teal);
}

.forfeit_button_yes:hover,
.forfeit_button_no:hover {
  box-shadow: 0px 0px 20px white;
}

.forfeit_button_yes:active,
.forfeit_button_no:active {
  background-color: var(--active_button_gold);
}

/* FLOATING BUTTON ELEMENTS */
.floating_buttons_main {
  display: grid;
  grid-template-columns: 126px 126px 126px 126px 126px;
  position: absolute;
  left: 10px;
  top: 504px;
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.floating_buttons_toggle {
  position: absolute;
  bottom: 0%;
  left: 43.5%;
  height: 68px;
  width: 250px;
  border: 2px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: none;
  background-color: red;
  cursor: pointer;
}

.floating_buttons_toggler_arrow {
  margin-left: 44%;
  margin-top: 20px;
  color: white;
}

.round_button {
  height: 40px;
  width: 126px;
  outline: solid 3px white;
  background-color: red;
  z-index: 3;
  transition: filter 0.2s;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
}

.button_cls {
  background-color: var(--active_button_gold);
}

.cls_logo {
  margin: 15px;
}

/* DICE SECTION */
/* .dice_section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  position: absolute;
  top: 324px;
  height: 180px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: var(--light_felt_green);
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.dice_button_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-self: left;
  height: 2rem;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.dice_img_block {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.dice_img1,
.dice_img2 {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10%;
}

.dice_img2 {
  opacity: 1;
}

.dice_result_display1,
.dice_result_display2,
.dice_result_display3,
.dice_result_display4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 70px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: var(--youtube_red);
  color: white;
  z-index: 1;
  font-weight: bold;
  font-size: 40px;
  transform-origin: center;
  transition: background-color 1s ease-in-out, transform 1s ease-in-out,
    left 1s ease-in-out;
  cursor: pointer;
}

.dice_result_display2 {
  left: 190px;
}

.dice_result_display3 {
  background-color: purple;
  left: 15px;
}

.dice_result_display4 {
  background-color: purple;
  left: 135px;
}

.dice_buttons_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 130px;
  left: 10px;
  gap: 20px;
}

.dice_roll_button,
.dice_skip_button {
  width: 100px;
  background-color: var(--active_button_gold);
  color: white;
  height: 36px;
  padding-top: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
}

.dice_roll_button:hover,
.dice_skip_button:hover {
  box-shadow: 0px 0px 20px white;
} */

/* AD SECTION ELEMENTS */
.adbox {
  position: absolute;
  height: 504px;
  width: 250px;
  margin: auto;
  z-index: 1;
  border: 2px solid white;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.ad_notification {
  position: absolute;
  bottom: 510px;
  right: 75px;
  color: white;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-size: 16px;
  cursor: default;
}

.ad_link {
  height: 100%;
  width: 100%;
}

.ad_picture {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

/* PAGE RESET CLASSES */
#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

/* HELPER CLASSES */
.scroll_on {
  transform: translate(0);
}

.show {
  opacity: 1;
}

#content_container.show {
  opacity: 1;
}

.no_pointer_events {
  pointer-events: none;
  cursor: default;
}

.focus_element {
  outline: 2px solid var(--active_button_gold);
}

.focus_element_thick {
  border: 4px solid var(--active_button_gold);
}

.button_yellowify {
  background-color: var(--active_button_gold);
}

.button_greenify {
  background-color: rgb(91, 218, 91);
}

.grey_button {
  filter: grayscale(50%);
  pointer-events: none;
}

.reveal {
  opacity: 1;
  pointer-events: all;
}

.no_select {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

/* CODE END */
