/* CODE START */

/* VARIABLES */
:root {
  --pagebox_green: #d1e3d5;
  --light_felt_green: #436767;
  --felt_green: #325656;
  --dark_felt_green: #2b4242;
  --youtube_red: #ff0000;
  --topbar_light_blue: rgb(76, 173, 205);
  --button_dark_teal: rgb(23, 132, 168);
  --active_button_gold: rgb(255, 191, 0);
}

/* UNIVERSAL RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: baseline;
  background: transparent;
  color: white;
}

/* HTML ELEMENT */
html {
  overflow: hidden;
}

/* DEBUG BUTTON ELEMENTS */
.test_button1,
.test_button2,
.test_button3,
.test_button4,
.test_button5,
.version_display {
  position: absolute;
  top: 10px;
  height: 40px;
  width: 100px;
  padding-top: 2px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: purple;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.test_button1 {
  left: 10px;
}

.test_button2 {
  left: 120px;
}

.test_button3 {
  left: 230px;
}

.test_button4 {
  left: 340px;
}

.test_button5 {
  left: 450px;
}

.version_display {
  left: 560px;
  width: 300px;
  font-size: 24px;
  background-color: black;
}

/* MAIN PAGE CONTAINER ELEMENTS */
.pagebox {
  position: relative;
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-size: cover;
  background-blend-mode: multiply;
  transform: translateZ(0);
  background-image: url(../images/background_triangles.png);
  background-color: rgba(0, 0, 0, 0.5);
}

.main_display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 20px));
  height: 504px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 250px 650px 250px;
  column-gap: 25px;
  z-index: 6;
}

.main_display_left,
.main_display_middle,
.main_display_left {
  position: relative;
}

#content_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

/* GAME BOARD ELEMENTS */
.game_board_div {
  display: grid;
  grid-template-columns: 110px auto 110px;
  position: absolute;
  top: 0;
  left: 0;
}

.game_board {
  position: absolute;
  top: 0;
  left: 0;
  height: 630px;
  width: 960px;
  border: solid 2px white;
  border-radius: 25px;
  opacity: 0;
  z-index: 0;
  filter: brightness(0.5);
  transition: opacity 2s ease-in-out;
}

/* BOARD ANNOTATIONS SECTION ELEMENTS */
.board_annotations_section {
  opacity: 0;
  position: absolute;
  top: 234px;
  left: 146px;
  display: block;
  height: 40px;
  width: 400px;
  background-color: var(--active_button_gold);
  z-index: 8;
  border: solid 2px grey;
  border-radius: 9999px;
  transition: opacity 0.5s ease-in-out;
}

.board_message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 4px;
}

/* ACCORDION ELEMENTS */
#skill_level_accordion,
#language_accordion,
#players_language_accordion {
  display: grid;
  grid-template-columns: 150px 40px;
  height: 40px;
  width: 190px;
  margin-left: 25px;
  margin-bottom: 24px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}

#skill_level_accordion:hover,
#language_accordion:hover,
#players_language_accordion:hover {
  background-color: #ccc;
}

#skill_level_svg,
#language_svg {
  margin-top: 3px;
}

#players_language_accordion {
  grid-template-columns: 150px 40px;
  width: 190px;
  height: 40px;
  margin: 0;
  margin-top: 4px;
}

#players_language_accordion p {
  transform: translateY(-2px);
}

#players_language_svg {
  margin-top: 4px;
}

.skill_level_panel,
.language_panel,
.players_language_panel {
  margin-top: -24px;
  display: none;
  width: 190px;
  margin-left: 25px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 0 0 2px 2px;
  border-top: none;
  background-color: white;
  color: black;
  text-align: left;
  overflow: hidden;
}

.players_language_panel {
  position: fixed;
  z-index: 9;
  margin-left: 0;
  width: 190px;
  margin-top: 0px;
}

#players_language_text {
  font-size: 16px;
}

.skill_level_panel p,
.language_panel p,
.players_language_panel p,
#skill_level_text,
#language_text,
#players_language_text {
  margin: 5px 0;
  color: black;
  text-align: left;
}

#language_text img {
  transform: translateY(-6px);
}

.accordion_selected {
  background-color: lightblue;
}

.skill_choice {
  display: grid;
  grid-template-columns: 80px auto;
}

.skill_choice,
.language_choice,
.players_langauge_choice {
  cursor: pointer;
}

.players_langauge_choice {
  font-size: 16px;
}

/* WELCOME SECTION ELEMENTS */
.welcome_section {
  height: 504px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: green;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
}

.welcome_title {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: default;
}

.welcome_text {
  width: 240px;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 10px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: default;
}

.welcome_continue_button,
.return_continue_button,
.welcome_name_form,
.challenge_button {
  height: 40px;
  width: 220px;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-left: 11px;
  border-radius: 9999px;
  box-shadow: 0px 0px 4px var(--felt_green);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.challenge_button {
  font-size: 18px;
  margin-left: 8px;
}

.challenge_button p {
  padding-bottom: 20px;
  text-align: center;
  text-justify: center;
  transform: translateY(-6px);
}

.challenge_counter {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  font-weight: bold;
}

.welcome_name_form {
  margin-top: 4px;
  outline: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 2px;
  width: 190px;
  margin-left: 25px;
}

#welcome_name_input {
  color: black;
  text-align: center;
  font-size: 18px;
  padding-top: 4px;
  transform: translateY(-6px);
  cursor: text;
  width: 190px;
}

#you_info,
#you_info_return,
#you_info_next {
  border: 1px solid white;
  width: 230px;
  margin-left: 6px;
  margin-bottom: 8px;
  background: var(--button_dark_teal);
}

#you_info_return {
  margin-bottom: 48px;
}

#you_info_next {
  margin-top: 4px;
  margin-left: 3px;
}

.you_info_text,
.you_info_text_return,
.you_info_text_next {
  padding-bottom: 0;
  text-align: left;
  margin-left: 12px;
}

.you_info_text_return {
  margin-top: 48px;
}

.welcome_continue_button,
.return_continue_button,
.challenge_button {
  display: grid;
  grid-template-columns: 150px 50px;
  height: 60px;
  border: 2px solid white;
  background-color: var(--youtube_red);
  color: white;
  padding-top: 10px;
}

.continue_svg,
.return_continue_svg {
  transform: translateX(0px) translateY(-6px);
}

.player_flag_img {
  margin-left: 9px;
}

.step2,
.step3,
.step4 {
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out 1s;
}

/* WELCOME RETURN SECTION ELEMENTS */
.return_section {
  position: absolute;
  top: 0px;
  height: 504px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: darkcyan;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.not_you_button {
  height: 60px;
  width: 220px;
  margin-left: 11px;
  margin-bottom: 48px;
  padding-top: 2px;
  border: 2px solid white;
  border-radius: 9999px;
  background-color: purple;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

/* PLAYERS SECTION ELEMENTS */
.players_section {
  display: grid;
  grid-template-rows: 20px 20px 48px 70px 260px 60px;
  position: absolute;
  top: 0;
  left: 0;
  height: 504px;
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border: solid 2px white;
  border-radius: 25px;
  background-color: var(--light_felt_green);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.players_display {
  grid-auto-rows: 24px;
  width: 235px;
  height: 240px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  overflow-y: scroll;
}

.filter_div {
  display: grid;
}

.toggle_language p {
  margin-top: 2px;
  font-size: 14px;
}

.toggle_language_graphic {
  position: relative;
  height: 20px;
  width: 36px;
  margin-top: 4px;
  border: solid 1px white;
  border-radius: 9999px;
  background-color: var(--youtube_red);
  margin-left: 12px;
}

.toggle_skill_level_accordion {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  height: 60px;
  width: 190px;
  margin-top: 4px;
  border: 1px solid black;
  color: black;
  border-radius: 2px;
  background-color: aliceblue;
}

.toggle_skill_level_accordion p {
  margin-left: 4px;
  color: black;
  text-align: center;
}

.players_friends {
  height: 100%;
}

.player_online_display,
.you_display {
  position: relative;
  display: grid;
  grid-template-columns: 18px 84px 48px auto;
  height: 24px;
  font-weight: 450;
  font-size: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.511);
}

.you_display {
  height: 36px;
  font-size: 13px;
  color: white;
  padding-top: 4px;
}

.you_skill,
.return_you_skill,
.next_you_skill {
  margin-left: 4px;
}

.you_flags,
.return_you_flags,
.next_you_flags {
  margin-left: 4px;
}

.player_online_display:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9;
  bottom: -95%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.player_online_display p,
.you_display p {
  transform: translateY(4px);
}

.is_player_active {
  height: 14px;
  width: 14px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
  background-color: rgb(91, 218, 91);
}

.player_ingame {
  background-color: orange;
}

.player_text {
  color: black;
  cursor: pointer;
}

.you_name,
.return_you_name,
.next_you_name {
  color: white;
  font-weight: bold;
  margin-left: 4px;
}

.player_flag {
  height: 14px;
  width: 18px;
  margin-right: 1px;
}

.player_flag_bigger {
  height: 20px;
  width: 24px;
}

/* MODAL SECTIONS ELEMENTS */
.modal_section {
  position: absolute;
  display: none;
  top: 127px;
  left: 70px;
  z-index: 9999;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  cursor: default;
}

.modal_message_section {
  position: absolute;
  height: 250px;
  width: 540px;
  border: solid 2px white;
  border-radius: 25px;
  z-index: 9;
  background-color: orange;
}

.modal_section_text {
  font-size: 20px;
  margin-top: 20px;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
  text-justify: center;
  color: white;
  font-weight: bold;
}

.modal_section_text_big {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  z-index: 9;
}

.modal_section_text_small {
  font-size: 16px;
  margin-top: 20px;
}

.modal_section_buttons {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 180px 180px;
  gap: 24px;
  margin-left: 78px;
}

.modal_section_button {
  padding-top: 10px;
  background-color: green;
  width: 180px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 9999px;
  border: solid 2px white;
}

.button_red {
  background-color: var(--youtube_red);
}

/* CHALLENGE SECTION ELEMENTS */
.challenge_block {
  position: relative;
  display: grid;
  grid-template-rows: 50px 40px 60px;
  row-gap: 10px;
}

/* CHALLENGE RECEIVED SECTION ELEMENTS */
.challenge_received_block {
  display: grid;
  grid-template-rows: 50px 40px auto;
  margin-top: 20px;
  row-gap: 16px;
}

/* OTHER MODAL SECTION ELEMENTS */
.forfeit_block,
.win_block,
.lose_block {
  display: grid;
  grid-template-rows: 50px 40px auto;
}

.win_block,
.lose_block {
  display: grid;
  grid-template-rows: 50px auto auto auto;
}

/* CHAT SECTION ELEMENTS */
.chat_section {
  position: absolute;
  top: 0px;
  height: 504px;
  width: 250px;
  display: grid;
  grid-template-rows: 80% auto auto;
  border: 2px solid white;
  border-radius: 25px;
  background-color: var(--active_button_gold);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform;
  overflow: hidden;
}

.chat_display {
  height: 96%;
  width: 95%;
  margin-top: 5%;
  margin-left: 2.5%;
  background-color: aliceblue;
  border: solid 1px black;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat_buttons_display {
  height: 95%;
  width: 90%;
  display: grid;
  grid-template-rows: 24px 24px;
  gap: 4px;
}

.chat_buttons_top {
  display: grid;
  margin-left: 8px;
  grid-template-columns: 100px 100px;
  gap: 6px;
}

.chat_buttons_bottom {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  gap: 6px;
}

.chat_button {
  background-color: red;
  height: 24px;
  width: 70px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: solid 2px white;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
}

.chat_button_big {
  width: 100px;
}

.chat_entry_a,
.chat_entry_b,
.chat_entry_c,
.chat_entry_d,
.chat_entry_e,
.chat_entry_f {
  padding: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
  color: black;
  white-space: wrap;
  word-wrap: break-word;
  font-size: 14px;
  cursor: default;
}

.chat_entry_a {
  background-color: rgb(212, 232, 250);
}

.chat_entry_b {
  background-color: rgb(165, 216, 247);
}

.chat_entry_c {
  background-color: rgb(230, 181, 148);
}

.chat_entry_d {
  background-color: rgb(230, 207, 191);
}

.chat_entry_e {
  background-color: rgb(235, 201, 206);
}

.chat_entry_f {
  background-color: rgb(251, 192, 201);
}

#chat_input {
  width: 96%;
  height: 24px;
  margin-top: 4px;
  margin-left: 2%;
  padding-left: 2%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
}

.chat_display strong {
  color: black;
}

/* SETTINGS SECTION ELEMENTS */
.settings_section {
  row-gap: 48px;
  position: absolute;
  top: 0px;
  height: 504px;
  width: 250px;
  background-color: brown;
  border: 2px solid white;
  border-radius: 25px;
  opacity: 0;
  z-index: 2;
  transition: opacity 1s ease-in-out;
}

.settings_title {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* RULES SECTION ELEMENTS */
.rules_section {
  display: grid;
  grid-template-rows: 90% 10%;
  position: absolute;
  top: 0px;
  height: 504px;
  width: 250px;
  border: solid 2px white;
  border-radius: 25px;
  background-color: var(--youtube_red);
  opacity: 0;
  z-index: 4;
  transition: opacity 1s ease-in-out;
}

.rules_info {
  height: 480px;
  margin-top: 12px;
  margin-right: 12px;
  padding: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}

.rules_info p {
  margin-bottom: 10px;
  font-size: 14px;
}

.rules_info li {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 10px;
}

.rules_image_box {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  background-color: white;
}

.rules_image_box img {
  width: 100%;
}

/* OTHER GAMES SECTION ELEMENTS */
.other_games_section {
  display: grid;
  grid-template-rows: 10% 90%;
  position: absolute;
  top: 0px;
  height: 504px;
  width: 250px;
  background-color: var(--topbar_light_blue);
  border: solid 2px white;
  border-radius: 25px;
  opacity: 0;
  z-index: 5;
  transition: opacity 1s ease-in-out;
}

.other_games_section p {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.game_button_backgammon,
.game_button_murder_mansion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 235px;
  margin-top: 10px;
  margin-left: 5px;
  outline: solid 2px white;
  border-radius: 5px;
  background-color: var(--topbar_light_blue);
}

.game_button_backgammon img,
.game_button_murder_mansion img {
  height: 100px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid white;
}

.game_button_backgammon p,
.game_button_murder_mansion p {
  margin: 0;
  padding-top: 38px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.game_button_current {
  background-color: var(--active_button_gold);
  pointer-events: none;
}

/* X BUTTON ELEMENTS */
.x_button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 28px;
  width: 28px;
  padding-bottom: 2px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* AD SECTION ELEMENTS */
.adbox {
  position: absolute;
  height: 504px;
  width: 250px;
  margin: auto;
  z-index: 1;
  border: 2px solid white;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.ad_notification {
  position: absolute;
  bottom: 510px;
  right: 75px;
  z-index: 1;
  color: white;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-size: 16px;
  cursor: default;
}

.ad_link {
  height: 100%;
  width: 100%;
}

.ad_picture {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

/* PAGE RESET ELEMENTS */
#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.modal_section::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: -1;
  border-radius: inherit;
  pointer-events: auto;
}

/* BUTTON ELEMENTS */
.button:hover {
  box-shadow: 0px 0px 20px white;
}

.button:active {
  background-color: var(--active_button_gold);
}

.button {
  cursor: pointer;
}

/* HELPER CLASSES */
.show {
  opacity: 1;
}

#content_container.show {
  opacity: 1;
}

.no_pointer_events {
  pointer-events: none;
  cursor: default;
}

.focus_element {
  outline: 2px solid var(--active_button_gold);
}

.focus_element_thick {
  border: 4px solid var(--active_button_gold);
}

.reveal {
  opacity: 1;
  pointer-events: all;
}

.reveal_translucent {
  opacity: 0.5;
}

.no_select {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.center_modal_button {
  margin-top: 48px;
  margin-left: 180px;
}

.blur_element {
  filter: blur(2px);
}

.skill_marker {
  letter-spacing: -6px;
}

.not_free,
.not_free p,
.not_free.skill_marker,
.not_free.player_flag {
  cursor: help;
}

.big_margin_top {
  margin-top: 60px;
}

.no_margin_top {
  margin-top: 0px;
}

.smaller_margin_top {
  margin-top: 12px;
}

.medium_margin_top {
  margin-top: 36px;
}

.red_background {
  background-color: var(--youtube_red);
}

.purple_background {
  background-color: purple;
}

.light_green_background {
  background-color: lightgreen;
}

.greyout {
  filter: brightness(0.2);
  filter: invert(1);
}

/* CODE END */
